@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');


*, *::after , *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --primary-clr: #FF8C00;
    --secondary-clr: #D21E1E;
    --subHeading-clr: #1A1A1A;
    --white-clr: #FFFFFF;
    --black-clr: #000000;

    /*--------SECTION-1-MAIN-------- */
    --hero-clr: #FFC806;
    --linkFont-clr: #424242;
    --mainHeading-clr: #1F1D1D;
    --mainPara-clr: #3A3A3A;
    /*--------/SECTION-1-MAIN-------- */


    /*--------SECTION-2-ABOUT-------- */
    --icon-clr: #282828;;
    --iconPara-clr: #636363;
    /*--------SECTION-2-ABOUT------- */


    /*--------SECTION-3-CATEGORY------- */
    --subPara-clr: #6B6B6B;
    --cardHeading-clr: #3D3D3D;
    --card-clr1: #EC5512;
    --card-clr2: #FF8C00;
    --card-clr3: #F1E9BA;
    --card-clr4: #E7E0D0;
    --card-clr5: #C4EADD;
    --card-clr6: #F8F8F8;
    --shopAll-clr: #2D2D2D;
    /*--------/SECTION-3-CATEGORY------- */


    /*--------SECTION-4-BEST-SELLERS------- */
    --newSpan-clr: #232323;
    --discoundPrice-clr: #BD2828;
    /*--------/SECTION-4-BEST-SELLERS------- */


    /*--------SECTION-5-REVIEWS------- */
    --reviewPrimary-clr: #474747;
    --bar-clr: #B4B4B4;
    --mainProgressBar-clr:#414141;
    --subProgressBar-clr: #DCDCDC;
    --Text1-clr: #090909;
    --Text2-clr: #303030;
    --reviewsCard-clr1: #2F2F2F;
    --reviewsCard-clr2: #747474;
    --reviewsCard-clr3: #4F4F4F;
    --likeIcon-clr: #706F6F;
    --reviewText-clr1: #919191;
    --reviewText-clr2: #909090;
    --weeksText: #636363;
    /*--------/SECTION-5-REVIEWS------- */


    /*--------SECTION-6-BLOG-------- */
    --blogPrimary-clr: #747474;
    --blogSecondary-clr: #2C2C2C;
    /*--------/SECTION-6-BLOG------- */


    /*--------INPUT-COLOR------- */
    --inputText-clr: #969696;
    --inputBorder-clr: #414141;
    /*--------/INPUT-COLOR------- */
 
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white-clr);
    min-height: 100vh;
}



/* ==================GENERAL CSS======================== */
h1,h2,h3,h4{
    font-weight: 600;
    letter-spacing: 0.035em;
}

h1{
    color: var(--mainHeading-clr);
    font-size: 4rem;
    line-height: 4.875rem;
    font-weight: bold;
}

h2{
    color: var(--subHeading-clr);
    font-size: 3rem;
    line-height: 3.688rem;
}

h3{
    color: var(--icon-clr);
    font-size: 2.25rem;
    line-height: 2.75rem;
}

h4{
    color: var(--icon-clr);
    font-size: 1.5rem;
    line-height: 1.813rem;

}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    display: block;
    width: 100%;
}

i{
    font-family: FontAwesome;
    font-style: normal;
}

.container{
    max-width: 1440px;
    margin-inline: auto;
    padding: 0 6.25rem;
}

.cta-btn1{
    display: inline-block;
    width: 11.688rem;
    height: 3.5rem;
    color: var(--white-clr);
    background-color: var(--black-clr);
    border: 1px solid var(--black-clr);
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.cta-btn1:hover{
    background-color: transparent;
    color: var(--black-clr);
}

.cta-btn2{
    display: inline-block;
    width: 11.688rem;
    height: 3.5rem;
    background-color: transparent;
    color: var(--black-clr);
    border: 1px solid var(--black-clr);
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.cta-btn2:hover{
    background-color: var(--black-clr);
    color: var(--white-clr);
}

.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.grid{
    display: grid;
}

/* ===================ARROW-SLIDER-COMPONENT================== */
.right-arrow{
    position: relative;
   }
   .line{
    position: absolute;
    left: -24px;
    display: inline-block;
    top: 8px;
    width: 30px;
    height: 2px;
    background-color: black;
   }
   .line::after{
    content: "";
    width:100%;
    background-color: black;
    display: inline-block;
    height: 2px;
    position: absolute;
   transition: all 0.4s ease-out;
   transform: translateX(0);
   }
   .arrow-animator:hover .line::after{
    transform: translateX(-100%);
   }
/* ===================/ARROW-SLIDER-COMPONENT================= */


/* ==================//GENERAL CSS======================== */




/* ==================HERO-SECTION CSS======================== */
.hero-section{
    width: 100%;
    background-color: var(--hero-clr);
}

.hero-section .flex-column{
    gap: 6.25rem;
}

.hero-section .header-container .flex-row:first-child{
    justify-content: space-between;
    align-items: center;
}

.hero-section .header-container{
   margin-top: 2.5rem;
}

.hero-section .nav-container ul{
    display: flex;
    gap: 2.5rem;
}

.hero-section .nav-container li a{
    color: var(--linkFont-clr);
    transition: all 0.3s ease-out;
    font-weight: 600;
}

.hero-section .nav-container li a:hover{
    color: var(--black-clr);
}

.hero-section .icon-container{
    display: flex;
    gap: 1.5rem;
}
.hero-section .icon-container a:nth-of-type(2){
    width: 28px;
    height: 28px;
}

.hero-section .column .flex-row{
    justify-content: space-between;
    align-items: center;
}

.hero-section .content-container p{
    margin-top: 2rem;
    color: var(--mainPara-clr);
}

.hero-section .btn-container{
    margin-top: 6.25rem;
    display: flex;
    gap: 2rem;
}

.hero-section .column{
    margin-bottom: 7rem;
}

/* ==================//HERO-SECTION CSS======================== */




/* -------------FOOTER-SECTION----------------- */
.footer-container{
    width: 100%;
    background-color: var(--black-clr);
    padding: 3rem 0;
}

.footer-container .flex-column{
    gap: 4rem;
}

.footer-container .flex-row{
    justify-content: space-between;
}

.footer-container .heading-container h4{
    color: var(--white-clr);
}

.footer-container .footer-links ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}


.footer-container .footer-links a{
    color: var(--white-clr);
}

.footer-container .footer-content p{
    color: var(--white-clr);
    line-height: 1.5rem;
}

.footer-container .footer-content p a{
    color: var(--white-clr);
    text-decoration: underline;
}

.footer-container .flex-row .inner-column{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.footer-container .footericons-container{
    display: flex;
    gap: 0.2rem;
    margin-top: 1rem;
}

.footer-container .search-container input{
    width: 201px;
    height: 34px;
    background-color: transparent;
    padding-left: 10px;
    outline: none;
    color: var(--inputText-clr);
    border: 1px solid var(--inputBorder-clr);
}

.footer-container .search-container button{
    width: 86px;
    height: 34px;
    background-color: var(--white-clr);
    color: var(--black-clr);
    transition: all 0.3s ease-out;
}

.footer-container .search-container button:hover{
    background-color: transparent;
    color: var(--white-clr);
    border: 1px solid var(--inputBorder-clr);
}

.footer-container .footericons-container img{
    width: 30px;
    height: 30px;
    background-color: var(--white-clr);
    border-radius: 50%;
    padding: 0.5rem;
}

.footer-container .column:nth-of-type(2) .flex-row{
    display: flex;
    justify-content: space-between;
}

.footer-container .left-content p{
    color: var(--white-clr);
}

.footer-container .payment-container{
    display: flex;
    gap: 0.5rem;
}

.footer-container .payment-container img{
    width: 63px;
    height: 31px;
    background-color: var(--white-clr);
    padding: 0.2rem;
    border-radius: 0.2rem;
}

/* -------------//FOOTER-SECTION----------------- */