:root{
  --btn-red:#AB0F0F;
  --span-clr:#777777;
  --label-clr:#1C1C1C;
  --border-gray:#A7A7A7;
  --icon:#575757;
}
.contact-section {
  margin-top: 6rem;
  margin-bottom: 10rem;
}

/* ==================COMMON CSS FOR ELEMENTS======================== */
input{
  border:1px solid var(--border-gray) ;
}
.form , .contact {
  gap: 3rem;
}
.top-head , .span-container{
  gap: 2rem;
}

/* ==================//COMMON CSS FOR ELEMENTS======================== */

.contact {
  justify-content: space-between;
  align-items: center;
}
label{
  font-size: 14px;
  line-height: 3rem;
  color: var(--label-clr);
  font-weight:600;
}
.form-name input {
  padding-left: 1rem;
  display: flex;
  height: 2.5rem;
  width: 35rem;
  flex-wrap: wrap;

}
.input-type {
  align-items: center;
  gap: 1rem;
}
.input-type  input {
  width: 2rem;
  height: 2rem;
  accent-color:var(--white-clr);
}
.input-type  input:checked {
  outline: 1px solid var(--border-gray) ;
}
button {
  width: 25rem;
  height: 2.75rem;
  border: none;
  background-color: var(--btn-red);
  cursor: pointer;
}
button:hover{
  background-color: var(--white-clr);
  border: 1px solid var(--black-clr);
  transition: all 0.5s ease;
}
button:hover >a{
  color: var(--icon-clr);
}
button>a{
  color: var(--white-clr);
  font-weight: 500;
  font-size: 1.125rem;
}
span , a{
  color: var(--span-clr);
}
.fa-solid{
  color: var(--icon);
}

